@charset "EUC-KR";

@import url('https://fonts.googleapis.com/css?family=Barlow|Noto+Sans');

* {
	width: 100%;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Barlow', sans-serif;
}

.menubar{
	position:absolute;
	height:200px;
	width:100%;
}
.menubar .menubar_content{
	position:relative;
	height:200px;
	width:100%;
	max-width:1920px;
	margin:0 auto;
}

.menubar .menubar_content .nav{
	position:fixed;
	top:10%;
	left:25%;
	height:800px;
	width:50%;
	color:white;
	z-index:1001;
	display:none;
}

.menubar .menubar_content .nav ul{
	margin:0 auto;
	width:600px;
}

.menubar .menubar_content .nav ul li{
	width:100%;
	height:60px;
	font-size:60px;
	font-weight:900;
	list-style:none;
	text-align:center;
	margin-bottom:30px;	
	
}
.menubar .menubar_content .nav ul li p{
	display:none;
}

.menubar .menubar_content .round_menu_wrapper{
	position:absolute;
	left:0;
	height:150px;
	width:400px;
}

.menubar .menubar_content .round_menu_wrapper .round_menu_positioner{
	position:fixed;
	width:400px;
	height:150px;
	z-index:1000;
	display:table;
}
.menubar .menubar_content .round_menu_wrapper .round_menu_positioner .round_menu{
	display:table-cell;
	vertical-align:middle;
	width:100px;
}

.roundwrap{
	position:relative;
	left:20px;
	width:60px;
	height:60px;
	border-radius:60px;
}

.roundwrap .round{
	position:absolute;
	background:#178ca9;
	width:60px;
	height:60px;
	border-radius:60px;
}

.roundwrap .roundon{
	position:absolute;
	width:60px;
	height:60px;
	border-radius:60px;
	background:white url("../img/btn_menu_on.png") no-repeat;
	background-size:contain;
	background-position:center center;
	transform:scale(0);
}

.roundwrap .roundoff{
	position:absolute;
	width:60px;
	height:60px;
	border-radius:60px;
	background:url("../img/btn_menu_off.png") no-repeat;
	background-size:contain;
	background-position:center center;
	
}



.logo_in_menu{
	width:250px;	
	height:150px;
	display:table-cell;
	vertical-align:middle;
}
.logo_in_menu .logo{
	height:60px;
	width:100px;
	background:url("../img/logo.png") no-repeat;
	background-size:contain;
	background-position:center center;
}

.menubar .menubar_content .shop{
	position:absolute;
	right:0;
	height:150px;
	width:200px;
}

.menubar .menubar_content .shop .shop_content{
	position:fixed;
	width:200px;
	height:150px;
	display:table;
	z-index:1000;

} 


.menubar .menubar_content .shop .shop_content div{
	vertical-align:middle;
	display:table-cell;
	font-weight:900;
	color:#178ca9;
}

.menubar .menubar_content .shop .shop_content div>p{
	width:100px;
	height:60px;
	text-align:center;
	margin:0 auto;
	font-size:2em;
}	


.intro{
	display:table;
	text-align:center;
	max-width: 1920px;
	min-width:320px;
	margin:0 auto;
}

.intro>h1{
	display:table-cell;
	vertical-align:middle;
	font-size:6em;
}

.content {
	max-width: 1920px;
	margin: 0 auto;
}

.main {
	position: relative;
	min-width:320px;
	width: 100%;
}

.screen1 {
	height:900px;
	background: url("../img/screen1.jpg") no-repeat;
	background-size: cover;
	background-position: center center;
	color: white;
}

.screen1 .text {
	position: absolute;
	top:50%;
	bottom: 150px;
	width: 100%;
	text-align: center;
}

.screen1 h1 {
	margin: 0 auto 30px;
	font-weight: normal;
}

.screen1 h1 em {
	color: #178ca9;
	font-style: normal;
	font-weight: bold;
}

.screen1 p {
	margin: 0 auto 10px;
}
/* screen1 스타일 끝 */
.screen2 {
	height:900px;
	background: url("../img/screen2.jpg") no-repeat;
	background-size: cover;
	background-position: center center;
}

.screen2 .text {
	position: relative;
	top: 30%;
	left:30%;
	width: 50%;
}

.screen2 h1 {
	margin: 0 auto 30px;
	font-weight: normal;
}

.screen2 h1 em {
	color: #178ca9;
	font-style: normal;
	font-weight: bold;
}

.screen2 p {
	margin: 0 auto 10px;
}
/* screen2 스타일 끝 */
.screen3 {
	height:900px;
	background: url("../img/screen3.jpg") no-repeat;
	background-size: cover;
	background-position: center center;
	color: white;
}

.screen3 .text {
	position: absolute;
	top: 30%;
	width: 100%;
	text-align: center;
}

.screen3 h1 {
	margin: 0 auto 30px;
	font-weight: normal;
}

.screen3 h1 em {
	color: #178ca9;
	font-style: normal;
	font-weight: bold;
}

.screen3 p {
	margin: 0 auto 10px;
}
/* screen3 스타일 끝 */
.screen4 {
	position:relative;
	height:1645px;/*비디오 없을시 900px*/
	overflow:auto;
}
.screen4 .sc4background{
	position:relative;
	background: #0f657a url("../img/screen4-1.jpg") no-repeat;
	background-size:cover;
	width:100%;
	height:677px;
	z-index:10;
}

.screen4 .sc4background2{
	position: relative;
	width: 100%;
	height: 167px;
	content: '';
	background: url("../img/screen4-2.jpg") repeat-x;
	background-size:cover;
	z-index:10;
}

.screen4 .text {
	position:relative;
	width:100%;
	height:300px;
	text-align: center;
	background:#0f657a;
	color: white;
	overflow:auto;
	z-index:10;
	
}

.screen4 h1 {
	margin: 4% auto 0px;
	font-weight: normal;
	font-size: 3em;
}

.screen4 p {
	margin: 0 auto 10px;
	color: #f0dc98;
	font-size: 1.2em;
}

.screen4 .movie{
	position:relative;
	width:100%;
	top:-25%;
	height:500px;
	z-index:9;
	
}
.screen4 .children {
	position: absolute;
	top:43%;
	left:10%;
	height: 50%;
	width: 80%;
	z-index: 11;
}

.screen4 .step {
	position: absolute;
	top:43%;
	left:10%;
	height: 50%;
	width: 80%;
	z-index: 10;
}

.screen4 .step .round{
	position:absolute;
	border-radius:100%;
	height:150px;
	width:150px;
	font-size:5em;
	font-weight:bold;
	color:white;
	text-align:center;
	padding-top:1.5%;
	padding-left:1.5%;
}

.screen4 .step .round:after{
	position:absolute;
	height:50%;
	width:25%;
	content:'';
	background:url("../img/children_step_logo.png") no-repeat;
	background-size:contain;
	top:40%;
	left:15%;
	
}	
.screen4 .step1{
	top:47%;
	left:0%;	
	background:#78c7ce;
}
.screen4 .step2{
	top:33%;
	left:25%;	
	background:#78c7ce;
}
.screen4 .step3{
	top:19%;
	left:51%;	
	background:#00a6a3;
}
.screen4 .step4{
	top:7%;
	left:76%;	
	background:#0099a9;
}

.screen4 .children .child {
	position: relative;
	display: inline-block;
	width: 25%;
	height: 100%;
	background-position: bottom;
	z-index:11;
}

.child.num1 {
	position: relative;
	background: url("../img/children_01_off.png") no-repeat;
	background-size:155px 417px;
}

.child.num2 {
	position: relative;
	background: url("../img/children_02_off.png") no-repeat;
	background-size:158px 561px;
}

.child.num3 {
	position: relative;
	background: url("../img/children_03_off.png") no-repeat;
	background-size:290px 609px;
	top:3%;
}

.child.num4 {
	position: relative;
	background: url("../img/children_04_off.png") no-repeat;
	background-size:210px 807px;
}

.child.num1.on {
	background: url("../img/children_01_on.png") no-repeat;
	background-position: bottom;
}

.child.num2.on {
	background: url("../img/children_02_on.png") no-repeat;
	background-position: bottom;
}

.child.num3.on {
	background: url("../img/children_03_on.png") no-repeat;
	background-position: bottom;
}

.child.num4.on {
	background: url("../img/children_04_on.png") no-repeat;
	background-position: bottom;
}
/* screen4 스타일 끝 */
.screen5 {
	height:787px;
	background: url("../img/screen5.jpg") no-repeat;
	background-size: cover;
	background-position: center center;
	color: #666;
	text-align: center;
	overflow: hidden;
}

.screen5 .logo {
	width: 140px;
	height: 120px;
	background: url("../img/screen05_obj_01.png") no-repeat;
	background-position: center center;
	background-size:contain;
	margin: 3% auto 0;
}

.screen5 h1 {
	margin: 1% auto 3%;
	color: #333;
}

.screen5 h2 {
	margin: 1% auto 1%;
}

.screen5 p {
	margin: 1% auto 1%;
}

.screen5 .round1 {
	width: 80px;
	height: 80px;
	background: #0f657a;
	border-radius: 50%;
	margin: 0 auto;
	color: white;
	display: table;
	margin-top: 5%;
}

.screen5 .round1 p {
	font-size: 2em;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
/* screen5 스타일 끝 */
.screen6 {
	height:700px;
	background: url("../img/screen6.jpg") no-repeat;
	background-size: cover;
	background-position: center center;
	color: white;
	overflow: auto;
	text-align: center;
}

.screen6 .round2 {
	width: 80px;
	height: 80px;
	background: white;
	border-radius: 50%;
	margin:10% auto 0;
	color: #0f657a;
	display: table;
}

.screen6 .round2 p {
	font-size: 2em;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.screen6 h2 {
	margin: 2% auto 2%;
}

.screen6 p {
	margin: 2% auto 2%;
}

.screen6 .verticalbar{
	margin:0 auto;
	width:1px;
	height:10px;
	background:white;
	z-index:1;
}
/* screen6 스타일 끝 */
.screen7 {
	height:700px;
	background: url("../img/screen7.jpg") no-repeat;
	background-size: cover;
	background-position: center center;
	color: #333;
	text-align: center;
	overflow: auto;
}

.screen7 .round3 {
	width: 80px;
	height: 80px;
	background: #0f657a;
	border-radius: 50%;
	margin: 10% auto 0;
	color: white;
	display: table;
}

.screen7 .round3 p {
	font-size: 2em;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.screen7 h2 {
	margin: 2% auto 2%;
}

.screen7 p {
	margin: 2% auto 2%;
}

/* screen7 스타일 끝 */
.screen8 {
	height:1100px;
	background: url("../img/screen8.jpg") no-repeat;
	background-size: cover;
	background-position: center center;
	color: white;
	overflow: hidden;
	letter-spacing: -0.05em;
}

.screen8 .logo {
	background: url("../img/screen8obj1.png") no-repeat;
	background-position: center center;
	background-size:contain;
	margin: 5% auto 0%;
	width: 304px;
	height: 96px;
}

.screen8 h1 {
	text-align: center;
}

.screen8 .text>ul {
	height: 40%;
	margin: 10% auto 0;
	width: 75%;
}

.screen8 .text>ul>li {
	position: relative;
	height: 100%;
	display: inline-block;
	margin-left: 2%;
	width: 22%;
}

.screen8 .text>ul>li:before {
	content: '';
	position: absolute;
	background: white;
	left: -4%;
	height: 100%;
	width: 1px;
}

.screen8 .text>ul>li h2 {
	color: #e1d2ba;
}

.screen8 .text>ul>li>p {
	font-size: 5.5em;
	margin-top: -10%;
}

.screen8 .text>ul>li>ul {
	margin-top: 5%;
	height: 50%;
	display: table;
}

.screen8 .text ul>li>ul>li {
	width: 80%;
	display: table-row;
	color: #c7c7c7;
}

/* screen8 스타일 끝 */
.screen9 {
	overflow: hidden;
	height:1300px;
	color: #333;
}

.screen9 h1 {
	margin-top: 3%;
	text-align: center;
}

.screen9 h2 {
	margin-bottom: 10px;
}

.screen9 p {
	margin-bottom: 10px;
}

.screen9 .interview {
	position: relative;
	width: 60%;
	height: 38%;
	margin: 3% auto 0;
}

.screen9 .interview .pic1 {
	position: absolute;
	height: 326px;
	width: 480px;
	background: url("../img/screen9obj1.jpg") no-repeat;
	background-size:contain;
}

.screen9 .interview .text1 {
	position: absolute;
	right: 0;
	width: 600px;
	height: 300px;
}

.screen9 .interview .pic2 {
	position: absolute;
	right: 0;
	width: 480px;
	height: 326px;
	background: url("../img/screen9obj2.jpg") no-repeat;
	background-size:contain;
}

.screen9 .interview .text2 {
	position: absolute;
	left: 0;
	width: 600px;
	height: 300px;
}

.num2 {
	text-align: right;
}

/* screen9 스타일 끝 */
.screen10 {
	height:900px;
	background: url("../img/screen10.jpg") no-repeat;
	background-size: cover;
	background-position: center center;
	color: white;
	overflow: hidden;
}

.screen10_content {
	position: absolute;
	top: 15%;
	right: 10%;
	width: 35%;
	height: 35%;
}

.screen10_content ul {
	list-style: none;
	margin-bottom: 5%;
}

.screen10_content ul li {
	color: #cbcbcb;
}

.screen10_content h2 {
	font-size: 3em;
	margin-bottom: 5%;
}

.screen10_content p {
	font-size: 1.5em;
	margin-bottom: 5%;
}

.screen10_content .buynow {
	position: absolute;
	height: 50px;
	width: 200px;
	background: white;
	display: table;
	border: 1px solid white;
	border-radius: 3px;
}

.screen10_content .buynow p {
	color: #0f657a;
	font-size: 1.5em;
	font-weight: bold;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
}

.screen10_content .pdfdown {
	position: absolute;
	width: 250px;
	height: 50px;
	left: 33%;
	background: #c3b0a4;
	display: table;
	color: white;
	text-align: center;
	border: 1px solid white;
	border-radius: 3px;
}

.screen10_content .pdfdown p {
	display: table-cell;
	vertical-align: middle;
}

/* screen10 스타일 끝 */
.screen11 {
	color: white;
}

.screen11 .pic1wrap {
	position: absolute;
	height: 50%;
	width: 50%;
}

.screen11 .pic2wrap {
	position: absolute;
	top:50%;
	height: 50%;
	width: 25%;
}

.screen11 .pic3wrap {
	position: absolute;
	top:50%;
	left: 25%;
	height:50%;
	width: 25%;
}

.screen11 .pic4wrap {
	position: absolute;
	left: 50%;
	height:100%;
	width: 25%;
}

.screen11 .pic5wrap {
	position: absolute;
	left:75%;
	height:50%;
	width: 25%;
}

.screen11 .pic6wrap {
	position: absolute;
	top:50%;
	left:75%;
	height: 50%;
	width: 25%;
}

.screen11 .pic1 {
	width: 100%;
	height: 100%;
	background: url("../img/screen11obj1.jpg") no-repeat;
	background-size: 100% 100%;
	background-position: center center;
}

.screen11 .pic2 {
	width: 100%;
	height: 100%;
	background: url("../img/screen11obj2.jpg") no-repeat;
	background-size: 100% 100%;
	background-position: center center;
}

.screen11 .pic3 {
	width: 100%;
	height: 100%;
	background: url("../img/screen11obj3.jpg") no-repeat;
	background-size: 100% 100%;
	background-position: center center;
}

.screen11 .pic4 {
	width: 100%;
	height: 100%;
	background: url("../img/screen11obj4.jpg") no-repeat;
	background-size: 100% 100%;
	background-position: center center;
}

.screen11 .pic5 {
	width: 100%;
	height: 100%;
	background: url("../img/screen11obj5.jpg") no-repeat;
	background-size: 100% 100%;
	background-position: center center;
}

.screen11 .pic6 {
	width: 100%;
	height: 100%;
	background: url("../img/screen11obj6.jpg") no-repeat;
	background-size: 100% 100%;
	background-position: center center;
}

/* screen11 스타일 끝 */